:root {
  font-family: "Open Sans", serif;
  color: #333;
}

#page {
  box-sizing: border-box;
  width: 1280px;
  padding: 80px;
  margin-bottom: 244px;
}

body{
}

h4 {
  color: #E1624F;
}

img {
  border-radius: 28px;
}

#subline {
  text-align:center;
}
